.displaySection {
  display: flex;
  justify-content: space-between;
}

.pokemonList {
  margin-top: 90px;
  height: 80vh;
  width: 50%;
  direction: rtl;
  overflow-y: scroll;
  overflow-x: visible;
}
.PokemonCard {
  width: 60%;
  background-color: #dfdfdf;
  margin: auto;
  margin-top: 10px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  color: black;
  justify-content: space-evenly;
  position: relative;
  transition: transform 300ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.middleUp2Element {
  transform: scale(1, 1);
}

.middleUpElement {
  transform: scale(1.3, 1.3);
  z-index: 50;
}

.middleElement {
  transform: scale(1.5, 1.5);
  overflow: visible;
  position: relative;
  z-index: 100;
}
.PokemonCard:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.5, 1.5);
  z-index: 110;
  animation: tilt-shaking 0.3s infinite;
}
@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg) scale(1.5, 1.5);
  }
  25% {
    transform: rotate(2deg) scale(1.5, 1.5);
  }
  50% {
    transform: rotate(0eg) scale(1.5, 1.5);
  }
  75% {
    transform: rotate(-2deg) scale(1.5, 1.5);
  }
  100% {
    transform: rotate(0deg) scale(1.5, 1.5);
  }
}

.PokemonInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 0;
}
.pokemonName {
  text-transform: capitalize;
  margin-left: 10px;
  font-size: 20px;
}
.pokemonImg {
  height: 80%;
  z-index: 100;
}
.pokemonImgMin {
  height: 80%;
  object-fit: cover;
}

.pokemonId {
  position: absolute;
  font-size: 32px;
  right: 20px;
  top: 20px;
  z-index: 0;
}

.pokemonTypes {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.pokemonType {
  border: solid 1px gray;
  width: 45px;
  height: 18px;
  border-radius: 4px;
  color: #f8f8f8;
}
.detailsPokemon {
  height: 100vh;
  width: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}
